* {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-color:  #006989;
  color: #cccccc;
}
.splash {
  background-color: #006989;
  height: 100%;
  width: 100%;
}
.menu-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 50px;
}
.menu-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  height: 50px;
}
.menu-button {
  float: left;
  margin: auto;
  height: 50px;
  font-family: 'Merriweather', serif;
  border-bottom: 3px solid #006989;
}
.menu-button-link {
  display: block;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #cccccc;
  padding: 14px 16px;
}
.menu-button-link:hover {
  background-color: #222222;
  border-bottom: 3px solid #005878;
}
.cheat {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid #006989;
}
.backsplash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  background-image: url("../images/bookshelf.jpg");
  background-attachment: fixed;
}
.menu-right {
  float: right;
}
.hidden {
  display: none;
}
.searchdiv {
  background-image: url("../images/bookshelf.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 45vh;
}
.mylibrary {
	background-image: url("../images/bookshelf.jpg");
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}
.search{
	overflow: hidden;
}
.search-bar {
	position:fixed;
	top: 17px;
	right:20px;
  font-family: "merriweather";
  border: none;
}
.main-search-bar {
	margin:auto;
	height:50px;
	width:500px;
	font-family: "merriweather";
  font-size:1.25em;
  border: none;
   border-bottom: 3px solid #006989;
}
.about {
  background-color: #333333;
  width: 100%;
  height: 650px;
  padding-top: 50px;
  border-top: 3px solid #006989;
  border-bottom: 3px solid #006989;
}
.about p {
  text-align: center;
  font-size: 1.5em;
  padding: 0 40px;
}
.team-description {
  width: 100%;
}
.Bridget {
  float: right;
  width: 50%;
}
.Bridget img {
  display: block;
  width: 190px;
  height: 200px;
  margin: auto;
}
.Jacob {
  float: left;
  width: 50%;
}
.Jacob img {
  display: block;
  width: 150px;
  height: 200px;
  margin: auto;
}
.feedback-form-container {
  background-image: url("../images/bookshelfdoor.jpg");
  background-attachment: fixed;
  padding: 50px;
}
.feedback-form {
  background-color: #333333;
  height: 250px;
  width: 100%;
}
.feedback-form p {
  font-size: 2em;
  text-align: center;
}
.feedback-input {
 width: 50%;
 display: block;
 margin: auto;
}
textarea {
  resize: vertical;
  font-family: "Merriweather";
}
.search-results {
  height: 100%;
  margin: 200px 200px 0px 200px;
  padding: 20px;
  list-style-type: none;
  background-color: #333333;
  color: #cccccc;
}
.search-result {
  margin-bottom: 10px;
  padding: 2px;
  border-width: 0px 0px 1px 0px;
  border-color: #006989;
  border-style: solid;
}
.signup {
  background-color: #333333;
  top: 200px;
  width: 70%;
  height: 70%;
  margin: 150px auto;
  border-bottom: 3px solid #006989;
  
}
.signup h {
  display: block;
  text-align: center;
  font-size: 3em;
}
.login {
  background-color: #333333;
  top: 200px;
  width: 70%;
  height: 70%;
  margin: 150px auto;
  border-bottom: 3px solid #006989;
}
.login h {
  display: block;
  text-align: center;
  font-size: 3em;
}