* {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-color:  #006989);
  color: #cccccc;
}
.splash {
  background-color: #006989;
}
.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
  z-index: 1000;
  border-bottom: 3px solid #006989;
}
.menu-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}
.menu-button {
  float: left;
  margin: auto;
  height: 50px;
  font-family: 'Merriweather', serif;
}
.menu-button-link {
  display: block;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #cccccc;
  padding: 14px 16px;
}
.menu-button-link:hover {
  background-color: #222222;
}
.searchdiv {
  background-image: url("../images/bookshelf.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 45vh;
}
.search-bar {
	position:fixed;
	top:17px;
	right:20px;
  font-family: "merriweather";
  border: none;
}
.main-search-bar {
	margin:auto;
	height:50px;
	width:500px;
	font-family: "merriweather";
  font-size:1.25em;
  border: none;
}
.about {
  background-color: #333333;
  width: 100%;
  height: 60vh;
  padding-top: 50px;
}
.about p {
  text-align: center;
  font-size: 1.5em;
  padding: 0 40px;
}
.team-description {
  width: 100%;
}
.Bridget {
  float: right;
  width: 50%;
}
.Bridget img {
  display: block;
  width: 190px;
  height: 200px;
  margin: auto;
}
.Jacob {
  float: left;
  width: 50%;
}
.Jacob img {
  display: block;
  width: 150px;
  height: 200px;
  margin: auto;
}
.slideshow-container {
  background-image: url("../images/bookshelfdoor.jpg");
  background-attachment: fixed;
  padding: 20px 0;
}
.slideshow {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 12px 0px 0px 0px;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.feedback-form-container {
  background-color: #333333;
  padding-top: 50px;
  width: 100%;
  height: 40vh;
}
.feedback-form-container p {
  text-align: center;
  font-size: 2em;
  width: 10%;
  margin: 12px auto;
  padding-top: 20px;
}
.feedback-form {
  position: relative;
  width: 20%;
  margin: auto;
}
.feedback-input {
  border: none;
  width: 100%;
  margin: 8px;
}
textarea {
  resize: vertical;
  font-family: "Merriweather";
}
