* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 105, 137);
  color: #cccccc;
}
.splash {
  background-color: rgb(0, 105, 137);
  background-image: url("../images/bookshelf.jpg");
  background-attachment: fixed;
}
.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
  z-index: 1000;
}
input:focus {
  outline: none;
}
.searchdiv {
	width: 100%;
  margin-top:50vh;
  margin-bottom:50vh;
}
.search-bar {
	position:fixed;
	top:17px;
	right:20px;
  font-family: "merriweather";
  border: none;
}
.main-search-bar {
	margin:auto;
	height:50px;
	width:500px;
	font-family: "merriweather";
  font-size:1.25em;
  border: none;
}
.menu-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}
.menu-button {
  float: left;
  margin: auto;
  height: 50px;
  font-family: 'Merriweather', serif;
}
.menu-button-link {
  display: block;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #cccccc;
  padding: 14px 16px;
}
.menu-button-link:hover {
  background-color: #222222;
}
/*.about {
  position: relative;
  top: 50px;
  font-size: 1.5em;
}
.product-description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 24px;
}
@media only screen and (max-width: 1340px) {
  .Bridget {
	width: 100%;
	margin: auto;
  }
  .Jacob {
	width: 100%;
	margin: auto;
  }
}
.Bridget {
  text-align: center;
  position: relative;
  float: right;
  right: 40px;
  padding: 0px 0px 20px 0px;
}
.Bridget img {
  width: 300px;
  height: 300px;
}
.Jacob {
  text-align: center;
  position: relative;
  float: left;
  left: 40px;
  padding: 0px 0px 20px 0px;
}
.Jacob img {
  width: 300px;
  height: 400px;
}*/
.feedback-form-container {
  background-color: #333333;
  width: 100%;
  height: 50vh;
}
.feedback-form-container p {
  text-align: center;
  font-size: 2em;
  width: 10%;
  margin: 12px auto;
  padding-top: 20px;
}
.feedback-form {
  position: relative;
  width: 20%;
  margin: auto;
}
.feedback-input {
  border: none;
  width: 100%;
  margin: 8px;
}
.submit {

}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 12px 0px 0px 0px;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}